<div class="row-fluid well">
	<span ng-if="Preach.getRole()>=7">
	<a ng-click="goToCreateAccounts()">Create Account</a>
	<a ng-click="goToCreateUsers()">Create User</a>
	<a ng-click="goToCreateSession()">Create Session</a> 
	<span> | </span>
	<a ng-click="goToAccounts()">View Accounts</a>
	<a ng-click="goToUsers()">View Users</a>
	<span> | </span>
	</span>
	<span ng-if="Preach.getRole()>=3">
	<a ng-click="goToProfile()" >Edit Profile</a>
	<span> | </span>
	<a ng-click="goToSessions()">View Sessions</a>
	<span> | </span>
	</span>
	<a ng-click="goToLogin()" ng-if="Preach.getRole()==undefined">Login</a>
	<a ng-click="goToLogoff()" ng-if="Preach.getRole()!=undefined">Logoff</a>
	<small>{{date | date}}</small>
	{{Preach.getRole()}}
</div>
