		<div class="well span12">
			<div class="span6">
				<div class="row-fluid">
					<button class="span2 btn-danger" ng-click="removeQuestion(question._id)">X</button>
					<input type="text" class="span10" ng-model="question.name" placeholder="Add a Question" ng-blur="questionUpdate(question._id,question.name)" />
				</div>

				<div class="row-fluid">
						<span ng-show="!question.publish" class="span12">
							<button class="span12 btn-success" ng-click="publishQuestion(question._id,question.name,question.publish)">Publish</button>
						</span>
						<span ng-show="question.publish">
							<button class="span12 btn-warning" ng-click="publishQuestion(question._id,question.name,question.publish)">unPublish</button>
						</span>
				</div>
			</div>
			<div class="span6">
				<div ng-repeat="answers in question.answers">
					<div class="row-fluid">
						<input type="text" ng-model="answers.name" placeholder="Add an answer to a question" class="span8" ng-blur="answerUpdate(question._id,answers._id,answers.name,answers.correct)" />
						<button class="span2 btn-danger" ng-click="removeAnswer(question._id,answers._id)">X</button>
						<input type="checkbox" class="span1" ng-model="answers.correct" ng-change="answerUpdate(question._id,answers._id,answers.name,answers.correct)" />
						<span class="span1">{{answers.users.length}}</span>
					</div>
				</div>
				<div class="row-fluid">
					<button ng-click="addAnswer(question._id)" class="btn">Add Answer</button>
				</div>
			</div>
		</div>
