<h1  ng-if="data.length==0">
	No Data Right Now :(
</h1>
<div class="row" ng-if="data.length>0">
	<div class="col-md-5">
		<span class="col-md-6">
			<div class="row">
				<input type="checkbox" ng-model="model.filter.likes" ng-change="updateFilters('likes')" />
				Filter Likes?
			</div>
			<div class="row" ng-if="model.filter.likes==true">
				<h1>{{(data|filter:likes).length}}</h1>
			</div>
		</span>
		<span ng-if="model.filter.likes==true" class="col-md-6">
			Min Likes:
			<input type="number" ng-model="model.filterAmount.likes.min" />
			Max Likes:
			<input type="number" ng-model="model.filterAmount.likes.max" />  
			<alert ng-if="model.filterAmount.likes.max<model.filterAmount.likes.min" >Max value cannnot be less than Min Value!</alert>
		</span>
	</div>
	<div class="col-md-2 text-center">
		<div class="row">Total</div>
		<div class="row">
			<h1>{{(data|filter:all).length}}</h1>
		</div>
	</div>
	<div class="col-md-5">
		<span  class="col-md-6">
			<div ng-if="model.filter.comments==true">
				Min Comments:
				<input type="number" ng-model="model.filterAmount.comments.min" />
				Max Comments:
				<input type="number" ng-model="model.filterAmount.comments.max" />  
				<alert ng-if="model.filterAmount.comments.max<model.filterAmount.comments.min" >Max value cannnot be less than Min Value!</alert>
			</div>
		</span>
		<span class="col-md-6">
			<div class="row">
				<input type="checkbox" ng-model="model.filter.comments" ng-change="updateFilters('comments')" />
				Filter Comments?
			</div>
			<div class="row pull-right" ng-if="model.filter.comments==true">
				<h1>{{(data|filter:comments).length}}</h1>
			</div>
		</span>

	</div>
</div>
<div class="row" ng-if="showGraph==true">
	 <line-Chart data="filteredPosts"></line-Chart> 
</div>
<div class="row">
	<button ng-click="seperatePosts();showGraph=true;graphStatus='Update'" class="btn col-md-12">{{graphStatus}} Graph</button>
</div>

<accordion close-others="true">
	<div ng-repeat="post in data | orderBy:post.likes.count | filter:all ">
		 <accordion-group heading="{{post.created_time | date }} - {{post.message}}" >
			<div class="col-md-2">
				<img ng-src="{{post.picture}}" style="width:80%; padding:10%;" />
			</div>
			<div class="col-md-8">
				<h4> <span ng-html-bind-unsafe>{{injectLinks(post.message)}}</span></h4>
			</div>
			<div class="col-md-1">
				<div class="row">
					Likes
				</div>
				<div class="row">
					<h2>{{post.likes.count || 0 }}</h2>
				</div>
			</div>
			<div class="col-md-1">
				<div class="row">
					Comments
				</div>
				<div class="row">
					<h2>{{post.comments.count || 0 }}</h2>
				</div>
			</div>
		</accordion-group>
	</div>
</accordion>
