/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.post {
  border: 2px solid red;
  display: inline-block;
  width: 333px;
  padding: 2em;
  overflow:auto;
}

#posts {
  border: 2px solid black;
  width: 400px;
  position: relative;
  height: 700px;
  overflow: scroll;
  margin-top: 50px;
}

.post-hover {
  border: 2px solid rgba(1, 1, 1, .1);
  position: absolute;
  width: 50%;
  height: 700px;
  margin-left: 400px;
  margin-top: 40px;
}

.article-info {
  border: 2px solid orange;
}

h3 {
  font-weight: 400;
}

h3:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img {
  width: 400px;
  padding: 8em;
}

#recent-posts {
  padding-left: 8px;
  position: fixed;
}
